body{
    background: aqua;
}
.navbar{
    border-radius: 0;
}
.navbar-brand{
    font-family: 'Satisfy', cursive;
}
li{
    box-decoration-break: slice;
    list-style-type: none;
    text-decoration-color: orange;
}
#Completed {
    text-decoration-color: forestgreen;
}
#Pending {
    text-decoration-color: red;
}